@{
                /**/

                ViewBag.Title = "Home Page";
}



<!-- Blog Post -->
@foreach (var b in ViewBag.Articles)
{
    <div class="card mb-4">
        <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
        <div class="card-body">
            <h2 class="card-title">@b.Header</h2>
            <p class="card-text">@b.Content</p>
            <a href="#" class="btn btn-primary">Read More &rarr;</a>
        </div>
        <div class="card-footer text-muted">
            Posted on January 18, 2020
        </div>
    </div>
}
